body {
  margin: 0px;
  padding: 0px;
  /*background-color: #ccc;*/
  background-color: #dfedb7;
  background-image: url(images/topGradient.png);
  background-repeat: repeat-x;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10pt;
}

img {
  border: 0px;
  margin: 1em 4em;
}

a { text-decoration: none; color: #004791; }
a:link { }

div.headerContainer {
  position: relative;
  z-index: 5;
  top: 3em;
  margin: 0px auto 0px auto;
  width: 650px;
  background-color: #ffffff;
  padding: 0 0 0 0;
}

div.logo { 
  background: url(images/logoTop.png)
    no-repeat
    top;
  padding: 0px 10px;
}

div.bodyContainer {
  margin: -10px auto 0px auto;
  width: 800px;
  background-image: url(images/centerStripe.png);
  padding: 0;
}

div.topBar { 
  margin: 0;
  padding: 0;
  background: url("images/topBar.png")
   no-repeat
   top;
}

div.content {
  padding: 3em 20px 25px 20px;
  min-height: 300px;
  background: url("images/bottomBar.png")
   no-repeat
   bottom;
}

a.msg { /* message to recruiters */
  display: block;
  font-size: 60%;
  text-align: right;
  vertical-align: bottom;
  margin: -10px 0;
  padding: 0;
}

ul.header_links {
  margin: 10px 0 10px 0; 
  padding: 2px 10px 20px 10px;
  width: 630px;
  background: url("images/tabBottom.png")
   no-repeat
   bottom
   #3e3e3e ; 
  text-align: center;
}

ul.header_links li { 
  display: inline-block;
  color: #fff; 
  list-style: none;
  margin: 0 0px;
  /* padding: 5px 15px 5px 15px; */
  padding: 2px 10px 2px 10px;
}

.header_links a { 
  color: #fff; 
}

ul.header_links li:hover { 
/*
  background: #760101;
  font-weight: bold;
*/
} 

.header_links li:hover { 
  background-color: #760101; 
}

.header_links li.current { 
  /*color: #adadad;*/
  background-color: #5d5d5d;
}

em.project { /* for projects on the portfolio page */
  font-size: 110%;
  font-variant: small-caps;
}
