
body { 
  line-height: 12pt;
  font-family: 'Optima-Regular', 'Optima', 'Trebuchet MS', 'sans-serif'; 
  color: #000000;
  opacity: 1.00;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  letter-spacing: 0;
  margin: 54pt 90pt;
  padding: 0 0 0 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
}

#myName { 
    line-height: 20pt; 
    font-size: 16pt;
    text-align: left;
}

a.msg { /*message to recruiters */
  display: block;
  font-size: 90%;
  text-align: right;
  vertical-align: bottom;
  margin: -10px 0;
  padding: 0;
}


.adr { 
    margin-bottom: 0pt;
    text-align: left;
}

.summary {
    padding-bottom: 9pt;
}

.education {
    padding-bottom: 9pt;
    padding-right: 2.5em;
}

.description {
    clear: both;
    padding-right: 2.5em;
}

.htitle {
    font-weight: bold;
    float: left; 
    width: 70%;
    padding: 0;
    margin: 0;
}

.date_duration {
    font-weight: bold;
    float: right;
    width: 20%;
    text-align: right;
}

.org, .title{ 
    font-weight: bold;
}

.contract { 
    margin-left: 1em;
}

.location { 
  margin: 0;
  padding: 0;
}

.heading {
    font-weight: bold;
    letter-spacing:     0.20em;
    text-transform: uppercase;
}

div {
    overflow: visible;
}

img {
    border: none;
}

.include { 
    display:none; 
}
